.set
  display: grid
  grid-template-columns: repeat(4, 1fr)
  gap: 20px

.input
  margin: 20px auto
  line-height: 0
  font-size: 18px
  width: 100%
  input
    width: 100%
    background: var(--text-main)
    border-radius: 4px
    border: none
    padding: 4px 6px
    color: var(--back-main)
    outline: none
    &::-webkit-inner-spin-button
      -webkit-appearance: none
      margin: 0
