.actions
  display: grid
  grid-template-columns: 1fr repeat(3, auto)
  gap: 10px
  max-width: 600px
  margin: 100px auto 0 auto
  @media (max-width: 768px)
    grid-template-rows: repeat(2, auto)
    grid-template-columns: repeat(2, auto)

.laps
  margin-top: 50px
  .lap
    display: flex
    justify-content: center
    gap: 2px
    cursor: default
    font-size: 24px
    margin-bottom: 10px
