:root
  --back-main: #2C2C2C
  --text-main: #B3B3B3

*
  box-sizing: border-box

body
  background: var(--back-main)
  color: var(--text-main)
  display: flex
  justify-content: center
  font-family: 'Open 24 Display St'
  margin: 0

.switch
  display: flex
  gap: 20px
  justify-content: center
  margin-top: 100px
  font-size: 30px
  font-family: Roboto
  text-transform: uppercase
  font-weight: 700

.score
  font-size: 150px
  display: flex
  justify-content: center
  gap: 20px
  cursor: default
  line-height: 150px
  @media (max-width: 768px)
    font-size: 60px
    gap: 4px
  .numbers
    width: 140px
    display: flex
    justify-content: center
    @media (max-width: 768px)
      width: 60px
    &__ms
      justify-content: start
    .number
      min-width: 70px
      text-align: center
      @media (max-width: 768px)
        min-width: 30px

.btn
  font-size: 30px
  background: var(--back-main)
  color: var(--text-main)
  border: none
  text-transform: uppercase
  font-weight: 700
  transition: .3s
  cursor: pointer
  &:hover
    color: #fff
  &:focus-visible
    outline: var(--text-main) solid 1px
    border-radius: 2px
